# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AspNetCore-Effective-Logging.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Experiments\LoggingTechniques\.idea\.idea.AspNetCore-Effective-Logging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
